*{
    padding: 0%;
    margin: 0%;
    font-family: 'KoHo', sans-serif;
    list-style: none;
}

body{
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: 15vh;
    background-color: #629FD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDiv{
    width: fit-content;
    height: fit-content;
    margin-left: 5%;
}

.logoDiv h1{
    color: white;
    font-size: 5vh;
    font-weight: 700;
}

ul{
    width: 37%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    margin-right: 10%;
    font-size: 2.9vh;
}

li{
    transition-duration: 0.5s;
}

li:hover{
    color: #1E1E1E;
    cursor: pointer;
}

.searchAreaDiv{
    width: 100%;
    height: 15vh;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 100;
}

input{
    width: 30%;
    height: 40px;
    padding-left: 1%;
    font-size: 2.3vh;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width: 120px;
    height: 40px;
    margin-left: 1%;
    font-size: 2.3vh;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

button:hover{
    background-color: #629FD3;
    color: white;
}

.notesContainer{
    width: 100%;
    height: auto;
    padding: 1.5% 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 33.5%);
}

.stickyImg{
    width: 350px;
    height: 350px;
    margin: auto;
    background-image: url(./stcikyNotesImg.png);
    background-size: 100% 100%;
    margin-top: 5%;
    transition: transform 0.5s;
    position: relative;
}

.stickyImg:hover{
    transform: scale(1.1);
}

.heading1{
    font-size: 4.5vh;
    color: black;
    width: fit-content;
    margin: auto;
    margin-top: 25%;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.paragraph1{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 3%;
    word-break: break-all;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5vh;
}

.datePara{
    position: absolute;
    top: 81%;
    left: 30%;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5vh;
    font-weight: 700;
}

.timePara{
    position: absolute;
    top: 15%;
    right: 20%;
    font-family: 'Dancing Script', cursive;
    font-size: 2.3vh;
    font-weight: 700;
}

.editDeleteDiv{
    width: 223px;
    height: 25px;
    background-color: #1E1E1E;
    margin: auto;
    position: absolute;
    top: 4.5%;
    left: 20%;
    opacity: 0.3;
    transform: skewX(-15deg) rotate(1.5deg);
    transition: opacity 0.5s;
}

.stickyImg:hover .editDeleteDiv{
    opacity: 1;
}

.deleteImg{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editImg{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.far{
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.far:hover{
    opacity: 1;
}

.editTxt{
    width: 110px;
    height: 20px;
    margin-left: 2%;
    margin-top: 1%;
    padding-left: 2%;
    border: none;
    outline: none;
    font-size: 2vh;
}

.saveBtn{
    width: 50px;
    height: 20px;
    font-size: 2vh;
}